
# Personal experiments (Yevheniia local only)
my_data/
my_model.ipynb


#personal(krishna koumudi local only)
my_data/
model.ipynb

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
.venv/

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

